/* latin */
@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/dm-sans-latin-400-normal.woff2") format('woff2'), url("/fonts/dm-sans-latin-400-normal.woff") format('woff');
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'DM Sans';
}

html {
	font-size: 16px;
	line-height: 1.4;
}

body {
	color: #fff;
	background-color: #4605de;
	position: relative;
}

* {
	box-sizing: border-box;
}

.header-main {
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	padding: 0 30px;
	background: linear-gradient(0deg, rgba(70,5,222,0) 0%, rgba(70,5,222,1) 70%, rgba(70,5,222,1) 100%);
}

.header-main__inner {
	width: 100%;
	height: auto;
	max-width: 1300px;
}

h1 {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

.the-logo {
	width: 80px;
	user-select: none;
}

#swipe-indicator {
	width: auto;
	bottom: 4rem;
	left: 50%;
	position: absolute;
	user-select: none;
	pointer-events: none;
	transform: translateX(-50%);
	transition: opacity 0.3s, visibility 0.3s;
}

#swipe-indicator.hidden {
	opacity: 0;
	visibility: hidden;
}

#swipe-indicator img {
	width: 40px;
	height: auto;
	display: block;
	position: relative;
	animation: swiper_anim 2.5s 1.0s ease-in-out 5 forwards;
}

@keyframes swiper_anim {
	0%, 60%, 100% { transform: translateX(0px); }
	20% { transform: translateX(15px); }
	40% { transform: translateX(-15px); }
}

#theCanvas {
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* background-image: url("/images/background.jpg"); */
}